@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --Very-Dark-Violet: hsl(270, 9%, 17%);
    --Dark-Grayish-Violet: hsl(273, 4%, 51%);
    --Very-Light-Gray: hsl(0, 0%, 98%);

    --Dark-Violet: hsl(256, 26%, 20%);
    --Grayish-Blue: hsl(216, 30%, 68%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Karla", "DM Serif Display", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 0px 30px;
    margin-bottom: 20px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    list-style: none;
}

.nav-link {
    text-transform: uppercase;
    color: var(--Dark-Grayish-Violet);
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.nav-link:hover {
    color: var(--Very-Dark-Violet);
    transition: color 0.3s;

}

.nav-link button {
    text-transform: uppercase;
    padding: 10px 25px;
    background-color: transparent;
    border: 2px solid var(--Very-Dark-Violet);
    font-weight: 700;
    cursor: pointer;
}

.nav-link button:hover {
    background-color: var(--Very-Dark-Violet);
    color: var(--Very-Light-Gray);
    transition: all 0.3s;
}

.menu-btn {
    display: none;
}

/* ************HERO-PAGE***************** */

.hero {
    background-color: var(--Dark-Violet);
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.pattern-right {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
.pattern-left {
    position: absolute;
    bottom:-50%;
    left: 0;
}

.hero-container {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
    width: 900px;
    gap: 30px;
}

.main-img {
    width: 400px;
    position: absolute;
    top: 8rem;
    right: 5%;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
    position: absolute;
    left: 5rem;
    gap: 20px;
}

.mb {
    display: none;
}

.hero-heading {
    font-size: 45px;
    font-weight: 600;
    font-family: "DM Serif Display", serif;
    color: var(--Very-Light-Gray);
    line-height: 3rem;
}

.hero-heading::before {
    content: " ";
    margin-bottom: 2rem;
    width: 150px;
    height: 2px;
    display: block;
    background-color: var(--Very-Light-Gray);
}

.hero-text {
    color: var(--Very-Light-Gray);
    font-size: 15px;
    line-height: 25px;
}

.plans-btn {
    padding: 0.8rem 2rem;
    text-transform: uppercase;
    border: 1px solid var(--Very-Light-Gray);
    color: var(--Very-Light-Gray);
    background-color: transparent;
    cursor: pointer;
    font-weight: 700;
    z-index: 101;  
}

.plans-btn:hover {
    background-color: var(--Very-Light-Gray);
    color: var(--Very-Dark-Violet);
    transition: all 0.5s;
}

.differ {
    margin-top: 15rem;
    display: flex;
    align-items: flex-start;
    gap: 30px;
    flex-direction: column;
    margin-left: 6rem;
}

.dif-heading {
    font-size: 45px;
    font-weight: 600;
    font-family: "DM Serif Display", serif;
    color: var(--Dark-Violet);
}

.dif-heading::before {
    content: "";
    margin-bottom: 4rem;
    width: 150px;
    height: 3px;
    background-color: var(--Dark-Violet);
    display: block;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    gap: 30px;
}

.card {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 25px;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-title {
    font-family: "DM Serif Display", serif;
    color: var(--Dark-Violet);
}

.card-info {
    font-size: 15px;
    width: 90%;
}

.mb {
    display: none;
}

.how-we-work {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: var(--Very-Dark-Violet);
    height: 200px;
    padding: 30px;
}

.pattern-work {
    position: absolute;
    right: 0;
    height: 200px;
}

.work-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0px 20px;

}

.work-container h1 {
    font-size: 45px;
    font-weight: 400;
    font-family: "DM Serif Display", serif;
    color: var(--Very-Light-Gray);
}

.work-container button {
    background-color: transparent;
    color: var(--Very-Light-Gray);
    border: 2px solid var(--Very-Light-Gray);
    padding: 10px 50px;
    z-index: 101;
    text-transform: uppercase;
    font-weight: 600;
}

.work-container button:hover {
    background-color: var(--Very-Light-Gray);
    color: var(--Very-Dark-Violet);
    transition: all 0.5s;
}   

/* **************FOOTER******************* */

footer {
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: var(--Very-Light-Gray);
    margin-top: 5rem;
    position: relative;
}

.footer-pattern {
    position: absolute;
    top: 0;
    left: 0;
}

.mbp {
    display: none;
}

.footer-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    margin: 5rem;
    z-index: 100;
}

.logo-social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo-social img {
    width: 80px;
    cursor: pointer;
}

.socials {
    display: flex;
    gap: 15px;
}

.socials img {
    cursor: pointer;
    width: 20px;
}

.socials img:hover {
    filter: brightness(0);
}

hr {
    background-color: var(--Dark-Grayish-Violet);
    width: 100%;
    outline: none;
    height: 2px;
    border: none;
}

.footer-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.links-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

.links-container h4  {
    text-transform: uppercase;
    color: var(--Dark-Grayish-Violet);
    font-size: 14px;
}

.links-wrapper  {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    list-style: none;
    gap: 10px;
}

.links-wrapper li {
    color: var(--Dark-Violet);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}

.mbs {
    display: none;
}

@media screen and (max-width: 700px) {
    .container {
        width: 500px;
    }

    header {
        width: 100%;
    }

    .logo img {
        width: 100px;
        margin-left: 20px;
    }

    .ds {
        display: none;
    }

    .nav-links {
        position: absolute;
        transform: translateX(-1000px);
        top: 80px;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: var(--Very-Dark-Violet);
        background-image: url(/images/bg-pattern-mobile-nav.svg);
        background-repeat: no-repeat;
        background-position: bottom left;
        background-size: 100%;
        display: flex;
        flex-direction: column;
        padding: 4rem 0 0 0;
        gap: 3rem;
        z-index: 100;
    }

    .active {
        transform: translateX(5%);
        transition: transform 0.5s;
    }

    .nav-link {
        color: var(--Very-Light-Gray);
        font-size: 20px;
    }

    .nav-link:hover {
        color: var(--Very-Light-Gray);
    }

    .nav-link button {
        color: var(--Very-Light-Gray);
        border-color: var(--Very-Light-Gray);
        font-size: 18px;
        padding: 1rem 6rem;
    }

    .menu-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background: transparent;
        cursor: pointer;
    }

    .hero {
        background-color: var(--Very-Light-Gray);
        height: 900px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative; 
    }

    .hero-img {
        position: absolute;
        top: -35rem;
        left: 42rem;
    }

    .dsh {
        display: none;
    }

    .mbs {
        display: flex;
    }

/*     .hero-img img {
        width: 450px;
    } */

    .hero-container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
    }

    .hero-content {
        top: 3rem;
        left: 17rem;
        background-color: var(--Very-Dark-Violet);
        align-items: center;
        align-self: center;
        text-align: center;
        height: 300px;
        width: 400px;
    }

    .hero-heading::before {
        display: none;
    }

    .mb {
        display: flex;
    }


    .mobile-left {
        position: absolute;
        top: 0;
        left: 0;
    }
    .mobile-right {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .differ {
        margin-top: 1rem;
        align-items: center;
        width: 400px;
    }

    .dif-heading::before  {
        display: none;
    }

    .row {
        flex-direction: column;
        align-items: center;
    }

    .card {
        align-items: center;
    }



    .card-content {
        align-items: center;
        text-align: center;
    }

    .pattern-work {
        position: absolute;
        top: 0;
    }

    .how-we-work {
        padding: 30px;
        height: auto;
        place-content: center;
        position: absolute;
        z-index: 100;
        left: 10%;
    }
    .work-container {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .work-container h1 {
        text-align: center;
    }

    footer {
        margin-top: 20rem;
    }

    .dsp {
        display: none;
    }

    .mbp {
        display: flex;
    }

    .logo-social {
        flex-direction: column;
        gap: 30px;
    }

    .footer-links {
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

    .links-container {
        align-items: center;
        gap: 15px;
    }

    .links-wrapper {
        align-items: center;
    }
}